* {
	margin: 0px;
}  



#watermark {
	text-align: center;
	color: #fff;
	font-family: Futura, sans-serif;
	font-size: 60px;
}

#background_image {
	padding-top: 50px;
	height: 500px;
	background: url("images/ireland.jpg");
	background-size: cover;
	background-attachment: fixed;
}  

#slogan {
	padding-top: 50px;
	height: 500px;
	background-color: #6E6662;

}
