@import url(https://fonts.googleapis.com/css?family=Ultra);
@import url(https://fonts.googleapis.com/css?family=Quattrocento);
@import url(https://fonts.googleapis.com/css?family=Raleway:200,300,400);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
	margin: 0px;
}  

body {
	font-size: 16px;
} 

p, a {
	font-family: 'Quattrocento', serif;
} 

h1, h2, h3, h4 {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin-bottom: 20px;
} 

h2 {
	font-size: 30px;
	padding-top: 10px;
	font-weight: 700;
	text-transform: uppercase;
} 

/*QUESTION 1: I want to upload rectangular pictures and then crop them so they are quared. Why doesn't this thing below work?*/

/*.image-container {
  background-image: url('unit_4/images/barcelona_1.jpg') 50% 50% no-repeat;
  background-size: cover;
  width:250px;
  height:250px;
} */

#slogan {
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 30px;
}

#watermark {
	font-family: 'Ultra', serif;
	font-size: 80px;
	text-align: center;
	margin: 20px;
	padding-top: 150px;
}

#intro {
	background: url(images/landing_page.jpg);
	background-attachment: fixed;
	height: 600px;
	background-size: cover;
	background-position: bottom;
	text-align: center;

/*	background-color: #5E4352;*/
	color: #fff;
	padding: 20px; 
} 

#intro a {
	color: #965D62;
}

#intro ul {
	text-align: right;
	margin: 5px 10px;
}

#intro li {
	list-style-type: none;
	display: inline;
	margin-right: 1.4em;
}

#services div {
	margin: 20px 20px;
	max-width: 24em;
	line-height: 1.4em;
	display: inline-block;
	vertical-align: text-top;
	text-align: justify; 
}

#room_finder {
	background-color: #685C79;
	text-align: justify;
	padding-left: 20px;
	padding-right: 20px;
	height: 600px;
	background-attachment: fixed;
}

#room_finder p {
	color: #fff;
	font-size: 20px;
	width: 400;
	text-align: center;
}

#room_finder div {
	display: inline-block;
	padding: 50px;
}

#room_finder a {
	color: #fff;
}

#room_finder h2 {
	color: #fff;
}

#city_finder {
	background-color: #455C7B;
	text-align: justify;
	padding-left: 20px;
	padding-right: 20px;
	height: 600px;
	background-attachment: fixed;
}

#city_finder h2 {
	color: #fff;
}

#city_finder h4 {
	color: #455C7B;
	font-size: 30px;
	margin-top: 5px;
	text-transform: uppercase;
	background-color: rgba(255,255,255,.5);
}

#city_finder p {
	color: #fff;
	font-size: 20px;
	width: 400;
	text-align: center;
}

#city_finder a {
	color: #455C7B;
}

/*#city_finder img {
	margin: 10px;
	max-width: 23%;
	height: auto;
	overflow: hidden;
	display: inline-block; 
}*/

#city_finder div {
	height: 250px;
	width: 250px;
	display: inline-block;
	vertical-align: top; 
	margin: 10px;
	margin-top: 50px;
	padding: 1.4em;
}

#barcelona {
	background: url("images/barcelona.jpg");
	background-size: cover;
}

#florence {
	background: url("images/florence.jpg");
	background-size: cover;
}

#dublin {
	background: url("images/ireland.jpg");
	background-size: cover;
}

#milan {
	background: url("images/milano_bici.jpg");
	background-size: cover;
}

/*QUESTION 2: how can I distribute images so that they respect the padding but they also distribute uniformely occupying all the available space?*/

/*QUESTION 3: Why dies this color all the "p" in the html?*/

/*#city_finder h2, p {
	color: #fff;
}*/



#community_finder {

} 