@import url(https://fonts.googleapis.com/css?family=Special+Elite);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,700);

* { margin:0; padding:0; box-sizing:border-box; }
body { 
	font-size: 18px;
	font-family: 'Josefin Slab', sans-serif;
	font-weight: 400;
}

h1 { 
	color: #fff;
	font-size: 4em;
}

h2 { 
	color: #fff;
	font-size: 2em;
}

h3 { 
	/*color: #fff;*/
	font-size: 1.5em;

}

hr { 
	display: block;
	border-style: solid;
	margin: 10px auto;
	width: 1000px;
}

nav { 
	margin: 10px auto;
	text-align: center;	
	background-color: #eee;
	width: 1000px;
}

nav ul { 
	list-style-type: none;
	padding: 0;
}

nav a { 
	padding: 20px;
	width: 300px;
	height: 1em;
	text-transform: uppercase;
	font-size: 1.5em;
	text-decoration: none;
	color: black;
}


/*I know IDs should go after classes, but if I move this ID after
the next two classes these properties are ignored. Is there something
that is overriding them in the next two classes?*/

#services_overview img { 
	width: 100%;
}

.clearfix:after { 
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.column { 
	/*background-color: yellow;*/
	float: left;
	padding:1em;
	text-align: center;
	width: 33.33%;
}

.buttons a { 
	color: black;
	background-color: rgb(245,233,200);
	padding: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: solid 2px black;
	text-decoration: none;
}

#top_page { 
	text-align: center;
	background: url(images/typewriter.jpg);
	/*background: url(images/header1.jpg);*/
	background-size: cover;
	background-position: center;
	padding:15em 0;
}

#top_page h1 { 
	font-family: 'Special Elite', serif;
}
#top_page hr { 
	color: white;
}


/*How can I reduce align the text (or the block?) on the left and 
reduce the width? Using margin right is obviously wrong.*/
#services_overview { 
	/*background-color: rgba(172,108,130,.7);*/
	text-align: left;
	margin-top: 60px;
	margin-left: 20px;
	padding:2em;
	width:1200px;
}


/* I used the display:; inline-block; to reduce the border-bottom, 
how can I center the block now?*/
#services_overview h3 { 
	/*background-color: blue;*/
	display: inline-block;
	margin: 0px auto;
	border-bottom: solid 2px;
}

#services_overview h4 { 
	margin-top: 10px;
}

#services_overview div { 
}

#last_article { 
/*	background-color: rgba(172,108,130,.7);*/
	text-align: right;
	float:right;
	width:1200px;
}

#last_article p{ 
	text-align: justify;
	margin-bottom: 20px;
}

#last_article h3 { 
	/*background-color: blue;*/
	display: inline-block;
	margin: 0px auto;
	border-bottom: solid 2px;
}

