* {
	margin: 0px;
}	

body { 
	text-align: center;
	font-family: Verdana, sans-serif;
	background: rgba(0,0,0,.8);
	background-size: cover;
	color: #fff;
}

hr {
	border-width: 1px;
	border-style: solid;
	margin: 10px 50px;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#landing_page a {
	color: rgb(124,183,225);
}

#logo {
	font-size: 90px;
	margin: 30px 0px;
	background-color: rgba(255,255,255,.1);
}

#image_landing {
	height: auto;
	width: 100%;
}

#slogan {
	font-size: 30px;
	font-style: italic;
	font-weight: 300;
	margin: 20px 10px;
}	

#introduction {
	font-size: 20px;
	font-weight: 300;
	margin: 10px 50px;
	padding: 10px;
	background-color: rgba(255,255,255,.1);
}	

#services {
	margin: 30px 50px;
}

#services img {
	width: 60%;
	height: 100%;
	background-size: cover;
}

#services h3 {
	background-color: rgba(20,20,20,.5);
	padding: 5px 5px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 10px;
}	

#contact {
	margin: 30px 50px;
}

#contact h3 {
	background-color: rgba(20,20,20,.5);
	padding: 5px 5px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 10px;
}	

#contact p {
	font-size: 20px;
	font-weight: 200;
}